<div class="container">
    <div>
        <span>Show: </span>
        <select #recNumber name="numberOfRecords" id="numberOfRecords" (change)="displayRecordsFrom(recNumber.value,0)">
            <option [value]="option" *ngFor="let option of showOptions">{{option}}</option>
        </select>
    </div>
    <div class="table-container" *ngIf="!isLoading">
        <table>
            <thead>
                <tr>
                    <th *ngFor="let title of tableData[0] | getTitle">{{title}}</th>
                    <th>Post Info</th>
                </tr>
            </thead>
            <tbody class="overflow">
                <tr *ngFor="let tableItem of tableData | slice : fromRecord : toRecord">
                    <td *ngFor="let key of tableItem | getTitle">
                        {{tableItem[key]}}
                    </td>
                    <td>
                        <button *ngIf="tableItem['id'] && tableItem['status']" (click)="submitInfo(tableItem['id'], tableItem['status'])">
                            Submit
                        </button>
                        <span *ngIf="!tableItem.id || !tableItem.status">
                            This record doesn't have the required Info.
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!isLoading">
        <app-paginator [itemsDisplayed]="numberOfRecords" [totalRecords]="tableData.length" (idClicked)="displayRecordsFrom(numberOfRecords, $event)"></app-paginator>
        <p>
            Total number of records: <b>{{tableData.length}}</b>
        </p>
    </div>
</div>