.container {
    width: 80%;
    margin: 0 auto;
    height: 500px;
}

.table-container {
    width: 100%;
    height: 500px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table tbody {
    display: block;
    width: 100%;
    overflow: auto;
    height: 400px;
    border: 1px solid black;
}

table thead tr {
    display: block;
    overflow: auto;
}

table thead {
    width: 100%;
    overflow: auto;
}

table th,
table td {
    padding: 5px;
    text-align: left;
    width: 200px;
}